@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --black: #222222;
    --yellow: #FEEE00;
    --white: #FFFFFF;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 93.75%;
    min-height: 100vh;
}
body {
    background: var(--black);

    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}

/* Links, text and buttons */

a, a:active, a:visited {
    color: var(--white);
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

.highlight {
    color: var(--yellow);
}

.arrow-icon {
    font-size: 2rem;
    color: var(--yellow);
}

.social-icon {
    padding: 1rem;
    font-size: 3rem;
    transition: color .2s;
}
.social-icon:hover {
    color: var(--yellow);
}

/* Containers & Flex */

.overflow-wrapper {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: min(80%, 800px);
    margin: 0 auto;
}
.full-height {
    min-height: 100vh;
}

.flex-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-x {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header */

header {
    margin: 3rem 0;
}

header.profile-header {
    margin: 3rem 0 0 0;
}

.logo {
    max-height: 4rem;
}

.icon {
    max-width: 8rem;

    margin-top: 2.5rem;
}

.profile-picture {
    max-width: 20rem;
    border-radius: 1rem;
}

/* Cards */

.card {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    border: solid 1px var(--yellow);
    border-radius: .5rem;
}
.card.bio {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}
.card.bio p {
    margin-top: 1rem;
}
#card-about {
    background: var(--yellow);
}
#card-about a,
#card-about span.black-text {
    color: var(--black);
}

/* Separator lines */

.separator-y {
    display: block;
    margin: 0 auto;
    min-height: 3rem;
    height: 100%;
    width: 0;
    border-right: solid 1px var(--yellow);
}
.separator-x {
    position: absolute;
    display: inline-block;
    min-width: 50%;
    border-bottom: solid 1px var(--yellow);
}
#separator-home {
    margin-left: 50%;
    z-index: -999;
}
#separator-profile {
    margin-right: 50%;
    z-index: -999;
}

/* Footer */

footer {
    margin: 1rem 0;
}

footer p {
    font-weight: 300;
}

footer p b {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 700px) {
    html {
        font-size: 87.5%;
    }
    header {
        margin: 1rem 0;
    }
    #card-about span {
        display: none;
    }
}